Port 22
Protocol 2
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

PermitRootLogin no
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
UsePAM no
X11Forwarding no
AllowTcpForwarding no
GatewayPorts no

AuthorizedKeysCommand /usr/local/bin/authorized-keys.sh %k
AuthorizedKeysCommandUser root

Match User git
  AllowAgentForwarding no
  AllowTcpForwarding no
  X11Forwarding no
