SECRET_KEY_BASE="test-secret-key"
PGHOST="localhost"
PGPORT=5432
PGUSER="postgres"
PGDATABASE=gleamhub
PGPASSWORD=postgres
DATABASE_URL="postgres://postgres:postgres@127.0.0.1:5432/gleamhub?sslmode=disable"
CLERK_JWKS='{"use":"sig","kty":"RSA","kid":"ins_3CidvKwqqiQTp8TBOhPJ0wA9thI","alg":"RS256","n":"mrHRfVpUF9YuLHNVjpFWkVkTZfRs8fUkNN2-xH9KIkCXIHBqwYltDyoHq-LvWutPRZC6qGE4AaJq75LMGRGsxbMKXFPnyX3HYqea-rfGyyYhDPK7DL5jbRpIxxmJZ06uF7kD4bIALAhnMrcgqagXPpdDeKSOku4Kgg6Dqpw52uEq5WAilbOnMXIx76kOW1oylBW6ZahZ9_2NzA5JmVmc8xdpUNupQjh-mHjM9rtmc_PM12FcH5UrZe2cTiFhN-5XxHTVAGgstilM5KhU-rVN-P1wAWTpsUimRnZgUlMBP10E8-1OSsg1PthA-k6vDadVpuLf__UTnD01q_cVS_jjxw","e":"AQAB"}'
GIT_REPOS_ROOT=./data/repos
GLEAMHUB_GIT_HOST=localhost
PORT=9999
